header {
  .top-header {
    padding: 6px 0 20px 0;
    border: 1px solid $gery;
  }
  .region-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @media (max-width: map-get($breakpoints, md) - 1) {
      justify-content: center;
    }
    #block-socialmediaicons {
      margin-top: $f16;
      .field__item {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 0 10px;
        li {
          width: 36px;
          height: 36px;
          border: 1px solid $gery;
          border-radius: 50%;
          display: grid;
          place-items: center;
          a {
            font-size: $f16;
          }
          .fa-facebook-f {
            color: #4267b2;
          }
          .fa-twitter {
            color: #00acee;
          }
          .fa-google {
            color: #db4437;
          }
          .fa-linkedin-in {
            color: #0072b1;
          }
          .fa-youtube {
            color: #ff0000;
          }
        }
      }
    }

    .block-system-branding-block {
      @media (max-width: map-get($breakpoints, md) - 1) {
        padding: $f30 0;
      }
    }

    .search-block-form {
      position: relative;
      margin-top: $f16;
      .form-search {
        border-radius: 30px;
        padding: 4px 10px;
        border: 1px solid $gery;
        &:focus {
          outline: 0;
          box-shadow: none;
        }
      }
      .form-actions {
        position: absolute;
        right: 8px;
        top: 4px;
        .search-button {
          font-family: FontAwesome;
          color: $red;
          display: inline;
          font-size: 16px;
          border: none;
          background: none;
          transform: rotate(90deg);
        }
      }
    }
  }
}
