<div class="newsletter-form">
  <form>
    {{ element.elements.processed_text }}
    <div class="email-address">
      {{ element.elements.email_address }}
      <i class="fa-solid fa-envelope"></i>
    </div>
  </form>
</div>
