$f210: 13.125rem;
$f118: 7.375rem;
$f110: 6.875rem;
$f74: 4.625rem;
$f70: 4.375rem;
$f66: 4.125rem;
$f60: 3.75rem;
$f58: 3.625rem;
$f50: 3.125rem;
$f48: 3rem;
$f46: 2.875rem;
$f44: 2.75rem;
$f42: 2.625rem;
$f40: 2.5rem;
$f38: 2.375rem;
$f36: 2.25rem;
$f34: 2.125rem;
$f32: 2rem;
$f30: 1.875rem;
$f28: 1.75rem;
$f26: 1.625rem;
$f25: 1.563rem;
$f24: 1.5rem;
$f23: 1.438rem;
$f22: 1.375rem;
$f20: 1.25rem;
$f19: 1.188rem;
$f18: 1.125rem;
$f17: 1.063rem;
$f16: 1rem;
$f15: 0.938rem;
$f14: 0.875rem;
$f13: 0.813rem;
$f12: 0.75rem;
$f11: 0.688rem;
$f10: 0.625rem;
$f8: 0.5rem;
$f6: 0.375rem;
$f5: 0.313rem;
$f4: 0.25rem;
