/* variables for image */
$url: "../images";

$about-bg: url(#{$url}/about.jpeg);
$advantages: url(#{$url}/advantages.jpeg);
$calculator: url(#{$url}/calculator.jpeg);
$contact-us: url(#{$url}/contact.jpeg);
$bg-footer-section: url(#{$url}/texture.peg);
